# {{ ansible_managed }}

network:
    wifis:
        wlan0:
            access-points:
            {% for wifi_network in wifi_networks %}

                "{{ wifi_network.ssid }}":
                    password: "{{ wifi_network.password }}"

            {% endfor %}

            dhcp4: true
            optional: true
    version: 2
